* {
  box-sizing: inherit;
  user-select: none;
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(79, 73, 64);
}

@font-face {
  font-family: saas;
  src: url("/Assets/Fonts/SaaSeriesDDOT.ttf");
}

@font-face {
  font-family: neue;
  src: url("/Assets/Fonts/NeueHaasUnica-Regular.ttf");
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: saas;
}

p {
  font-size: 1.5rem;
}

i {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  display: inline-block;
}

li {
  list-style: none;
}

span {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:visited {
  text-decoration: none;
  color: currentColor;
}
.neeu {
  font-family: neeu, sans-serif;
}

.saas {
  font-family: saas, sans-serif;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.pt10 {
  font-size: 1rem !important;
}

.pt12 {
  font-size: 1.2rem !important;
}

.pt14 {
  font-size: 1.4rem !important;
}

.pt16 {
  font-size: 1.6rem !important;
}

.pt20 {
  font-size: 2rem !important;
}

.pt24 {
  font-size: 2.4rem !important;
}

.pt30 {
  font-size: 3rem !important;
}

.pt40 {
  font-size: 4rem !important;
}

.pt50 {
  font-size: 5rem !important;
}

.pt60 {
  font-size: 6rem !important;
}

.pt80 {
  font-size: 8rem !important;
}

.pt100 {
  font-size: 10rem !important;
}

.bold {
  font-weight: bold;
}
